{% extends "error_layout.html" %}
{% block content %}
<section class="statistics mt-5">
  <div class="container-fluid">
    <div class="row d-flex ">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card income text-center shadow p-3" style='min-height:60%'>
          <div ><strong class="text-primary">403<br>Forbidden Page</strong></div>
          <p>You are not allowed to access this page</p><p>Please check your account type</p>
        </div></a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}